html,body {
  height:1000px;
	width:1000px;
	position:relative;
}
body{
    padding-top: 50px;
    padding-bottom: 100px;
    color: #fdfdfd;;
}

table{
    width: 100%;
   padding-top: 20px;
}

table, th, td {
  border: 2px solid black;
  padding: 0 50px 0 50px;

}
th, td {
  padding: 35px;
  text-align: center;
  border-spacing: 0 50px; 
}


footer{
  padding-top:100px; 
}
#content-wrapper{
        padding-top: 61px;
    padding-left: 87px;
    margin-left: 136px;
    background-color: #a79adcc7;
}
#background-carousel{
	position:fixed;
	width:100%;
	height:100%;
	z-index:-2;
}
.carousel,
.carousel-inner {
	width:100%;
	height:100%;
	z-index:0;
	overflow:hidden;
}
.item {
	width:100%;
	height:100%;
	background-position:center center;
	background-size:cover;
	z-index:0;
}
 
#content-wrapper {
	position:absolute;
	z-index:1 !important;
	min-width:100%;
	min-height:100%;
}
.well {
    opacity:0.85
}
.iframe-container{
    position: relative;
    width: 70%;
    height: 50%;
    padding-bottom: 40%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}


.iframe-container{
  margin-bottom: 50px;
  background: #eee;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#navSupportedContent{
  float: right;
}

/* Classes */
.thumbnail img {
  max-height: 100%;
}

.card-img {
  max-height: 60%;
  max-width:15%
}

.price {
  font-weight: bold;
  font-size: 20px;
}

.description {
  color: #808080;
}


/* STRIPE payment */
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

